h1 {
    color: darkslateblue;
    font-size: 50px;
    
}

body {
    background-color: rosybrown;
    text-align: center;
}

#cifrar, #decifrar {
    background-color: white;
    margin: auto 800px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}

#botaoCifragem, #botaoDecifragem {
    margin-top: 10px;
}

br {
    font-size: 17px;
}

#textoCifragem, #textoDecifragem {
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

#deslocamentoCifragem, #deslocamentoDecifragem {
    width: 50px;
}

#respostaCifragem, #respostaDecifragem {
    background-color: rosybrown;
    height: 20px;
    width: 210px;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
}